.header{
  margin: 0;
  top: 0;
  padding: 0;

  position: absolute;
  width: 100%;
  background-color: #333;
  min-height: 50px;
  height: 6%;
  color: #fff;
  padding-left: 2%;
  opacity: 0.95;

  -webkit-app-region: drag;
}

ul {
  display: inline;
  margin: 0;
  padding: 0;
}

li {
  display: inline-flex;
}

h3 {
  font-size: 20px;
  margin: 10px 0 0;
  padding: 0;
  left: 3%;
}

.logo {
  font-family: "Roboto";
  font-weight: bold;
}

nav {
  margin: 0;
  padding: 0;

  z-index: 10;
  right: 3%;
  top: 10px;

  -webkit-app-region: no-drag;
  position: absolute;
}

nav button {
  width: 18px;
  height: 18px;
  -webkit-border-radius: 5px;
  outline: none;
  border: none;
  margin: 2px;
  cursor: pointer;
}

nav button:hover {
  opacity: 0.65;
}

.min {
  background-color: #ff0;
}
.max {
  background-color: #0f0;
}
.close {
  background-color: #f00;
}