body {
  margin: 0;
  padding: 0;
  font-family: "Droid Sans", sans-serif;
}

.app {
  display: flex;
  -webkit-user-select: none;
}

.primary-aside {
  width: 200px;
}

.activeLink span{
  background-color: rgb(224, 224, 224);
}

main {
  cursor: default;
  padding-top: 40px;
  flex: 1;
}
